body {
    min-height: 100vh;
    margin: 0;
    background: rgb(238,174,233);
    background: radial-gradient(circle, rgba(238,174,233,1) 0%, rgba(236,114,124,1) 25%, rgba(255,255,255,1) 100%);
    overflow: hidden;
    position: relative; /* Make sure the body is the reference for absolute positioning */
}

html {
    overflow-x: hidden;
}

#particles-js {
    pointer-events: auto; /* Ensure it can detect pointer events */
    position: absolute; /* Position it absolutely within body */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it is behind other content */
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0.0em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

.count-particles {
    background: #6a6acc;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #4ad8d1;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    z-index: 1;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

#nav_bar .nav_button {
    display: inline-block;
    list-style: none;
}

nav {
    text-align: center;
    padding-top: 2%;
    margin-top: -50px;
}

a {
    color: white;
    font-size: larger;
    text-decoration: none;
}

main {
    text-align: center;
}

img {
    height: 10%;
    width: 10%;
}

footer {
    text-align: center;
    padding-bottom: 0px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: xx-large;
    color: white;
}

p {
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', monospace;
    color: white;
}
* {
    box-sizing: border-box;
    border-radius: 25px;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px; /* Adjust this height as needed */
}

/* Text and Image container */
.text-img-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse; /* Image on the left, text on the right */
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    width: 66.67%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.089); /* Optional: To improve text readability */
}

/* Image */
.image {
    width: 33.33%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
}


/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f0eded00;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #03000000;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}
